/* app css stylesheet */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBD3;
}

::-webkit-scrollbar {
    width: 6px;
}

.ns {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Animinimations :D */

.slide-y {
    /* transition: 0.2s linear all; */
    overflow-y: hidden;
    transition-property: all;
	  transition-duration: .5s;
	  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slide-y.ng-hide {
    /* opacity: 0; */
    height: 0px;
}

.slide-x {
    max-width: 2560px;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: linear;
}
.slide-x.ng-hide {
    max-width: 0px;
}


.fade {
    transition: 0.2s linear all;
    opacity: 1;
}
.fade.ng-hide {
    opacity: 0;
}

/* Beautify Scroll Bar */

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(150,150,150,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(150,150,150,0.4); 
}

#notebook {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

/* Note Styles */

.note {
    position: relative;
    background-color: #799EAA;
    color: #FFF;
    height: 300px;
    width: 23%;
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 30px #666;
    word-break: break-all;
}

.note-text-container {
    overflow-y: scroll;
    width: 100%;
    height: 90%;
}

.note-title {
    font-size: 1.7em;
    font-weight: 900; 
}

.note-content {
    font-size: 1.3em;
    font-weight: 550;
}

.note-remove {
    position: absolute;
    bottom: 10px;
    right: 10px; 
}

.note-settings {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.note-settings-tray {
    position: absolute;
    bottom: 5px;
    left: 30px;
    width: 70%;
    margin-left: 10px;
}

.note-tray-icons {
    margin-left: 10px;
}

.note-palette {
    position: absolute;
    left: 10px;
    bottom: 30px;
    width: 2em;
    height: 135px;
}

/* Note Color Icons || Palette from: https://coolors.co/app/083d77-ebebd3-f4d35e-ee964b-f95738*/

.color-blue {
    color: #083D77;
}
.bg-color-blue {
    background-color: #083D77;
}
.color-yellow {
    color: #F4D35E;
}
.bg-color-yellow {
    background-color: #F4D35E;
}
.color-orange {
    color: #EE964B;
}
.bg-color-orange {
    background-color: #EE964B;
}
.color-red {
    color: #F95738;
}
.bg-color-red {
    background-color: #F95738;
}

#control-note {
    background-color: #888;
}

.control-text {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #FFF;
    transition: border 0.1s;
    background-color: rgba(0, 0, 0, 0);
    resize: none;
    width: 100%;
}
.control-text:focus {
    border-bottom: solid 4px #FFF;
    outline: none;
}

.control-content {
    height: 60%;
}

.control-button {
    width: 100%;
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all 200ms ease-in-out 0s;
    padding: 10px;
    border-color: #3AC162;
	  background-color: #5FCF80;
}

.control-button:hover,
.control-button:focus,
.control-button:active {
    background-color: #4BC970;
    border-color: #3AC162;   
}

.material-icons {
    font-size: 2em;
    cursor: pointer;
}