<!doctype html>
<html lang="en" ng-app="noteularApp">
<head>
  <meta charset="utf-8">
  <title>Noteular</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="js/controllers.js"></script>
  <!-- <script src="js/note.component.js"></script> -->
</head>
<body ng-controller="NoteListCtrl">
  <div id="notebook">
    <div class="note bg-color-blue slide-x" ng-repeat="note in notes" ng-hide="hidden">
      <i class="material-icons note-remove ns" ng-click="hidden = true">delete</i>
      <div class="note-text-container">
        <h class="note-title">{{note.title}}</h>
        <p class="note-content">{{note.content}}</p>
      </div>
      <i class="material-icons note-settings ns" ng-click="showSettings = !showSettings; showColors = false">settings</i>
      <div class="note-settings-tray ns fade" ng-show="showSettings">
        <div class="note-palette slide-y" ng-show="showColors">
          <i class="material-icons color-blue">brightness_1</i>
          <i class="material-icons color-yellow">brightness_1</i>
          <i class="material-icons color-orange">brightness_1</i>
          <i class="material-icons color-red">brightness_1</i>
        </div>
        <i class="material-icons note-tray-icons" ng-click="showColors = !showColors">color_lens</i>
        <i class="material-icons note-tray-icons" ng-click="">send</i>
      </div>
    </div>

    <div class="note" id="control-note">
      <input placeholder="Note title" class="control-text control-title note-title" type="text" ng-model="controlTitleVal" />
      <br />
      <textarea class="control-text control-content note-content" placeholder="Put the content of the note here!" ng-model="controlContentVal" ng-keypress="handleNoteKey($event)"></textarea>
      <div class="control control-button ns" type="button" ng-click="makeNote(controlTitleVal, controlContentVal)"><i class="material-icons">queue</i></div>
  </div>
  </div>
</body>
</html>
